/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #ffffff */
/* акцент #2196f3 */
:root {
    --title-color-text:#212121 ;
    --secondary-color-text:#757575 ;
    --accent-color-text: #2196f3 ;
    --white-color: #ffffff
    

}
body {
    background-color: var(--white-color);
    color: var(--title-color-text);
    font-family: Roboto, sans-serif ;
}

.site-nav .link.active {
    color: var(--accent-color-text);

}
a{ text-decoration: none;}
li {list-style: none;}

.button .button-services {
    cursor: pointer;
}


/* site nav! */
.page-header .logo {
color: var(--accent-color-text);
font-family: Raleway;
font-style: 400;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.site-nav .studio {
    color: var(--title-color-text);
}

.site-nav .link {
color: var(--title-color-text);
font-style: 400;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.link:hover {
    color: var(--accent-color-text);
    }
    
.site-auth .mail {
    color: var(--secondary-color-text)
     ;
}
.site-auth .number {
    color: var(--secondary-color-text);
}
.mail:hover {
    color: var(--accent-color-text);
}
.number:hover {
    color: var(--accent-color-text);
}

.page .site-auth {
font-style: 400;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color-text);

}
/* hero! */
.hero {
    background-color: #2F303A ;
}
.hero .hero-title {
color: var(--white-color) ;
font-style: 400;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.hero .button-services {
    font-style: 400;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em ;
    color: var(--white-color) ;
    background-color: var(--accent-color-text) ;
}



/* работы */


.work-title {
color: var(--title-color-text);
font-style: 400;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}


/* команда */

.team-title{
color: var(--title-color-text) ;
font-style: 400;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}
.team .name {
color:var(--title-color-text);
font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.team .team-pos {
color: var(--secondary-color-text);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

}

/* advantages */

.advantages .advantages-name {
color: var(--title-color-text);
font-style: 400;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.advantages .advantages-list {
color: var(--secondary-color-text);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}


/* фильтр */

.filter .button-services { 
    font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em; 

}

.filter .button-services:hover {
color: var(--white-color);
background-color: var(--accent-color-text);
font-family: Roboto;
font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em; 
}


/* Работа */
.work-show .name {
color: var(--title-color-text);
font-style: 400;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;


 
}
.work-show .type {
    color: var(--secondary-color-text);
    font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
/* футер */
.footer {
    background-color:  #2F303A ;
}
.footer .logo {
color: var(--accent-color-text);
font-family: Raleway;
font-style: 400;
font-weight:700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.footer .studio {
    color: var(--white-color);
}
.footer .address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color) ;
    font-style: normal;
}
